{% extends "layouts/base.html" %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis quos magni earum quisquam quam repellat illum, dolorum corrupti vel labore ipsum accusantium tempora perferendis veniam totam, eaque expedita eos soluta esse. Tempore molestiae ullam est, quasi quia totam sit obcaecati in nobis tenetur. Eveniet enim possimus voluptatem deserunt nihil repellat consequatur esse, et architecto asperiores ea magni sed porro dolorem explicabo nesciunt veniam commodi recusandae quo iure culpa, praesentium eligendi hic vel. Tempore laboriosam repudiandae, natus nulla maiores ducimus error, adipisci praesentium in nesciunt quam aspernatur excepturi magni nobis dolor. Corrupti mollitia laudantium nemo est cupiditate possimus error omnis doloribus!</p>

<p> Website created by {{username}}</p>

{% endblock %}